{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
    <h6><a href="{% url 'lst_prdts' %}">Retour à la liste des produits</a></h6>
    <h2>{{ prdt.intituleProd }}</h2>
    <ul>
        <li>Référence produit : {{prdt.refProd }} </li>
        <li>Prix unitaire HT : {{ prdt.prixUnitaireProd }} </li>
        <li>Date de fabrication : {{ prdt.dateFabProd }} </li>
        <li>Catégorie : {{ prdt.categorie }} </li>
        <li>Statut : {{ prdt.status }}</li>
        <li><a href="{% url 'prdt_chng' prdt.refProd %}">modifier</a></li>
        <li><a href="{% url 'dlt_prdts' prdt.refProd %}">Supprimer</a></li>
    </ul>
{% endblock %}
