{% extends 'monApp/base.html' %}
{% block menu %}
    <h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
    <h6><a href="{% url 'lst_rayons' %}">Retour à la liste des rayons</a></h6>
    <h2>{{ rayons.nomRayon }}</h2>
    <ul>
        <li>Référence du rayon : {{rayons.idRayon }} </li>
        <li>Nom du rayon : {{ rayons.nomRayon }} </li>
        <li><a href="{% url 'rayon_chng' rayons.idRayon %}">modifier</a></li>
        <li><a href="{% url 'dlt_rayon' rayons.idRayon %}">Supprimer</a></li>
    </ul>
{% endblock %}
