<html>
    <head>
        <title>Mon app DJANGO</title>
    </head>
    <body>
        <h1>Hello mes produits !</h1>
        <p>Mes produits sont :</p>
        <ul>
        {% for produit in prdts %}
            <li>{{ produit.intituleProd }} </li>
        {% endfor %}
        </ul>
        <p>J'ai {{ prdts|length }} produits préférés.</p>
        <p>
            J'ai
                {% if prdts|length < 5 %}
                peu de 
                {% elif prdts|length < 10 %}
                quelques
                {% else %}
                beaucoup de 
                {% endif %}
                produits préférés
        </p>

    </body>
</html>