{% extends 'monApp/base.html' %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom Categorie</th>
        <th>Nombre de Produits</th>
        <th><a href="{% url 'crt_cat' %}">Créer une nouvelle catégorie</a></th>
    </thead>
    <tbody>
    {% for cat in ctds %}
    <tr>
        <td>{{ cat.idCat }} </td>
        <td><a href="{% url 'dtl_ctd' cat.idCat %}">{{ cat.nomCat }}</a></td>
        <td>{{ cat.nb_produits }} </td> 
        <td><a href="{% url 'cat_chng' cat.idCat %}">modifier</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Barre de recherche -->
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>
            J'ai
                {% if ctds|length < 5 %}
                peu de 
                {% elif ctds|length < 10 %}
                quelques
                {% else %}
                beaucoup de 
                {% endif %}
                categories préférés
        </p>
{% endblock %}