
{% extends 'monApp/base.html' %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Libelle status</th>
        <th>Nombre de Produits</th>
        <th><a href="{% url 'crt_status' %}">Créer un nouveau status</a></th>

    </thead>
    <tbody>
    {% for status in status %}
    <tr>
        <td>{{ status.idStatus }} </td>
        <td><a href="{% url 'dtl_status' status.idStatus %}">{{ status.libelleStatus }}</a></td>
        <td>{{ status.nb_produits }} </td> 
        <td><a href="{% url 'status_chng' status.idStatus %}">modifier</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
    <p>J'ai {{ stats|length }} status préférés.</p>
    <p>
        J'ai
            {% if stats|length < 5 %}
            peu de 
            {% elif stats|length < 10 %}
            quelques
            {% else %}
            beaucoup de 
            {% endif %}
            status préférés
    </p>
{% endblock %}
