{% extends 'monApp/base.html' %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom Categorie</th>
    </thead>
    <tbody>
    {% for cat in ctds %}
    <tr>
        <td>{{ cat.idCat }} </td>
        <td><a href="{% url 'dtl_ctd' cat.idCat %}">{{ cat.nomCat }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
            J'ai
                {% if ctds|length < 5 %}
                peu de 
                {% elif ctds|length < 10 %}
                quelques
                {% else %}
                beaucoup de 
                {% endif %}
                categories préférés
        </p>
{% endblock %}